
<!-- Transaction ID -->
<div class="form-group" ng-if="operation =='details-view'">
	<label class="control-label col-sm-2" for="txnid"
		translate="general_label_txn_id"></label>
	<div class="col-sm-10 col-md-5">
		<label class="form-value">{{transactions.entity.txnid}}</label>
	</div>
</div>

<!-- Parent Transaction ID -->
<div class="form-group" ng-if="operation =='details-view'">
	<label class="control-label col-sm-2" for="parenttxnid"
		translate="general_label_parent_txn_id"></label>
	<div class="col-sm-10 col-md-5">
		<label class="form-value">{{transactions.entity.parenttxnid}}</label>
	</div>
</div>

<!-- Channel -->
<div class="form-group" ng-if="operation =='details-view'">
	<label class="control-label col-sm-2" for="channel"
		translate="general_label_channel"></label>
	<div class="col-sm-10 col-md-5">
		<label class="form-value">{{transactions.entity.channel}}</label>
	</div>
</div>

<!-- Transaction Type -->
<div class="form-group" ng-if="operation =='details-view'">
	<label class="control-label col-sm-2" for="txntype"
		translate="general_label_txn_type"></label>
	<div class="col-sm-10 col-md-5">
		<label class="form-value">{{transactions.entity.txntype}}</label>
	</div>
</div>

<!-- Product -->
<div class="form-group" ng-if="operation =='details-view'">
	<label class="control-label col-sm-2" for="product"
		translate="general_label_product"></label>
	<div class="col-sm-10 col-md-5">
		<label class="form-value">{{transactions.entity.product}}</label>
	</div>
</div>

<!-- Source Id -->
<div class="form-group" ng-if="operation =='details-view'">
	<label class="control-label col-sm-2" for="srcid"
		translate="general_label_source_id"></label>
	<div class="col-sm-10 col-md-5">
		<label class="form-value">{{transactions.entity.srcid}}</label>
	</div>
</div>

<!-- Source Type -->
<div class="form-group" ng-if="operation =='details-view'">
	<label class="control-label col-sm-2" for="srctype"
		translate="general_label_source_type"></label>
	<div class="col-sm-10 col-md-5">
		<label class="form-value">{{transactions.entity.srctype}}</label>
	</div>
</div>

<!-- Destination Id -->
<div class="form-group" ng-if="operation =='details-view'">
	<label class="control-label col-sm-2" for="destid"
		translate="general_label_destination_id"></label>
	<div class="col-sm-10 col-md-5">
		<label class="form-value">{{transactions.entity.destid}}</label>
	</div>
</div>

<!-- Destination Type -->
<div class="form-group" ng-if="operation =='details-view'">
	<label class="control-label col-sm-2" for="desttype"
		translate="general_label_destination_type"></label>
	<div class="col-sm-10 col-md-5">
		<label class="form-value">{{transactions.entity.desttype}}</label>
	</div>
</div>

<!-- Amount -->
<div class="form-group" ng-if="operation =='details-view'">
	<label class="control-label col-sm-2" for="amount"
		translate="general_label_amount"></label>
	<div class="col-sm-10 col-md-5">
		<label class="form-value">{{transactions.entity.amount}}</label>
	</div>
</div>

<!-- Fee -->
<div class="form-group" ng-if="operation =='details-view'">
	<label class="control-label col-sm-2" for="fee"
		translate="general_label_fee"></label>
	<div class="col-sm-10 col-md-5">
		<label class="form-value">{{transactions.entity.fee}}</label>
	</div>
</div>

<!-- Commission -->
<div class="form-group" ng-if="operation =='details-view'">
	<label class="control-label col-sm-2" for="camount"
		translate="general_label_commission"></label>
	<div class="col-sm-10 col-md-5">
		<label class="form-value">{{transactions.entity.acommission}}</label>
	</div>
</div>

<!-- Transaction Date Time -->
<div class="form-group" ng-if="operation =='details-view'">
	<label class="control-label col-sm-2" for="txndatetime"
		translate="general_label_txn_datetime"></label>
	<div class="col-sm-10 col-md-5">
		<label class="form-value">{{transactions.entity.created |
			date: 'yyyy-MM-dd HH:mm:ss'}}</label>
	</div>
</div>

<!-- Status -->
<div class="form-group" ng-if="operation =='details-view'">
	<label class="control-label col-sm-2" for="status"
		translate="general_label_status"></label>
	<div class="col-sm-10 col-md-5">
		<label class="form-value">{{transactions.entity.status}}</label>
	</div>
</div>

