<hr>
<input class="btn btn-default" type="button" value="Reset"
	ng-show="index< stepLength-1" ng-click="reset()">
<input class="btn btn-default" type="button" value="Next"
	ng-show="index< stepLength-1" ng-click="next()">
<input class="btn btn-default" type="button" value="Previous"
	ng-show="index !='1' && index< stepLength" ng-click="previous()">
<input class="btn btn-default" type="button"
	ng-value="index == stepLength ? 'Ok':'Cancel'" ng-click="cancel()">
<input class="btn btn-default" type="button" value="Save"
	ng-show="index == stepLength-1" ng-click="save()">
