<form class="form-horizontal container" role="form"
	name="transactionsList" ng-init="transactions.init()">

	<span class="entityHead">
		<h3 translate="general_label_transactions"></h3> <response-msg-widget
			status="transactions.responseStatus"
			message="transactions.statusMessage"></response-msg-widget>
	</span>

	<bread-crumb class="align-breadcrumb" state="transactions.routeState"></bread-crumb>

	<action-btn-widget class="align-btn-group" state="transactions.state"
		showButtons="transactions.showButtons" query="transactions.query"
		myvalue="transactions.myvalue" tid="transactions.tid"
		change-state="transactions.stateChange($model)"></action-btn-widget>

	<br> <br>
	<div class="table-responsive">
		<table class="table table-borderless">
			<thead>
				<tr>
					<th translate="general_label_txn_id"></th>
					<th translate="general_label_txn_type"></th>
					<th translate="general_label_source_id"></th>
					<th translate="general_label_destination_id"></th>
					<th translate="general_label_status"></th>
					<th translate="general_label_amount"></th>
					<th translate="general_label_txn_datetime"></th>
				</tr>
			</thead>

			<tr ng-repeat="transaction in transactions.list.content"
				id="row-{{transaction.txnid}}"
				ng-click="transactions.selectedRow(transaction)">
				<td>{{transaction.txnid}}</td>
				<td>{{transaction.txntype}}</td>
				<td>{{transaction.srcid}}</td>
				<td>{{transaction.destid}}</td>
				<td>{{transaction.status}}</td>
				<td>{{transaction.amount}}</td>
				<td>{{transaction.created | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
			</tr>
		</table>
	</div>

	<div class="row">
		<ul class="pager">
			<li class="previous"><button class="btn btn-default"
					ng-click="transactions.changePage('prev')"
					ng-disabled="transactions.list.first"
					translate="general_label_previous"></button></li>
			<li class="next"><button class="btn btn-default"
					ng-click="transactions.changePage('next')"
					ng-disabled="transactions.list.last" translate="general_label_next"></button></li>
		</ul>
	</div>
</form>
