<form class="form-horizontal container" role="form"
	name="feeCommissionsList" ng-init="feeCommissions.init()">

	<span class="entityHead">
		<h3 translate="general_label_fee_commission_details"></h3> <response-msg-widget
			status="feeCommissions.responseStatus"
			message="feeCommissions.statusMessage"></response-msg-widget>
	</span>

	<bread-crumb class="align-breadcrumb" state="feeCommissions.routeState"></bread-crumb>

	<action-btn-widget class="align-btn-group" state="feeCommissions.state"
		showbuttons="feeCommissions.showButtons" query="feeCommissions.query"
		myvalue="feeCommissions.myvalue" tid="feeCommissions.tid"
		change-state="feeCommissions.stateChange($model)"></action-btn-widget>

	<br> <br>
	<div class="table-responsive">
		<table class="table table-borderless">
			<thead>
				<tr>
					<th translate="general_label_id"></th>
					<th translate="general_label_charge_type"></th>
					<th translate="general_label_transaction_type"></th>
					<!-- 					<th translate="general_label_source"></th>
					<th translate="general_label_beneficiary"></th> -->
					<th translate="general_label_start_date"></th>
					<th translate="general_label_end_date"></th>
				</tr>



			</thead>
			<tr ng-repeat="feeCommission in feeCommissions.list.content"
				id="row-{{feeCommission.id}}"
				ng-click="feeCommissions.selectedRow(feeCommission)">
				<td>{{feeCommission.id}}</td>
				<td>{{feeCommission.chargetype}}</td>
				<td>{{feeCommission.txntype}}</td>
				<!-- 				<td>{{feeCommission.chargedtotype}}</td>
				<td>{{feeCommission.beneficiarytype}}</td> -->
				<td>{{feeCommission.startdatetime | date: 'dd-MM-yyyy'}}</td>
				<td>{{feeCommission.enddatetime | date: 'dd-MM-yyyy'}}</td>
			</tr>
		</table>
	</div>

	<delete-widget entity="feeCommissions.entity" tid="feeCommissions.tid"
		delete-callback="feeCommissions.deleteEntity($model)"></delete-widget>

	<div class="row">
		<!--   <div class="text-center">
 -->
		<!-- <ul uib-pager total-items="feeCommission.list.totalElements" ng-model="feeCommission.list.number" ng-click="feeCommissions.changePage()"></ul>
 -->
		<ul class="pager">
			<li class="previous"><button class="btn btn-default"
					ng-click="feeCommissions.changePage('prev')"
					ng-disabled="feeCommissions.list.first"
					translate="general_label_previous"></button></li>
			<li class="next"><button class="btn btn-default"
					ng-click="feeCommissions.changePage('next')"
					ng-disabled="feeCommissions.list.last"
					translate="general_label_next"></button></li>
		</ul>
		<!--  	</div>
 -->
	</div>
</form>
