<br>
<br>
<div class="row" ng-init="fundout.init()" ng-show="fundout.step == 1">
	<div class="floating center-block">
		<form class="form-horizontal mobHeight" role="form" name="fundoutFrm">
			<br>
			<center>
				<b>Merchant Fund Out</b>
			</center>
			<br>
			<div class="fieldwid mobWidth">
				<div class="form-group" show-errors>
					<label class="col-lg-3 col-sm-3 setcredlabelheight">Select
						Source Merchant</label>
					<div class="col-lg-7 col-sm-7">
						<select name="merchant" ng-model="src"
							class="form-control text-control"
							ng-options="merchant.name for merchant in fundout.merchList track by merchant.username">
						</select>
					</div>
				</div>
				<div class="form-group" show-errors>
					<label class="col-lg-3 col-sm-3 setcredlabelheight">Amount</label>
					<div class="col-lg-7 col-sm-7">
						<input id="amt" name="amt" type="text"
							class="form-control text-control" ng-model="amount" required>
					</div>
				</div>
			</div>
			<br>
			<div>
				<center>
					<button id="btntoup" type=submit name="btntoup" class="btn"
						ng-click="fundout.dofundOut()"
						ng-disabled="txfr.isLoading && frmTxfr.$invalid">Fund Out</button>
				</center>
			</div>
		</form>
	</div>
</div>


<div ng-show="fundout.step == 2">
	<br> <br>
	<div class="row">

		<div class="col-md-3">
			<img src="../resources/images/tower.jpeg" class="center-block"
				width="150px"> <br> <br>
			<p class="text-center">Fund-out order is sent to MNO, which will
				deduct the virtual balance from merchant's wallet and will provide
				the merchant with cheque/draft for the equivalent amount</p>
		</div>

		<div class="col-md-2">
			<span class="glyphicon glyphicon-arrow-right"
				style="font-size: 83px;"></span>
		</div>

		<div class="col-md-4 bodered-box">
			<div>

				<form class="form-horizontal container"
					ng-show="fundout.showResponseErrorMsg==null">

					<h1>Draft</h1>
					<br>
					<div class="form-group">
						<label class="control-label col-sm-1">Pay To</label>
						<div class="col-sm-10 col-md-5">
							<label class="form-value">{{src.name}}</label>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-1">Amount</label>
						<div class="col-sm-10 col-md-5">
							<label class="form-value">{{amount}}</label>
						</div>
					</div>

				</form>

				<form class="form-horizontal container"
					ng-show="fundout.showResponseErrorMsg!=null">
					<br> {{fundout.showResponseErrorMsg}}
				</form>
			</div>

			<br>
		</div>

	</div>
</div>
