<div ng-show="fundin.step == 1">
	<br> <br> Please fill-in the details provided in below order.
	<br> <br>
	<div class="solid-border" ng-init="fundin.init()">

		<form class="form-horizontal container">

			<h1>Purchase Order</h1>
			<br>
			<div class="form-group">
				<label class="control-label col-sm-1">Credit To</label>
				<div class="col-sm-10 col-md-5">
					<select name="merchant" ng-model="dest"
						class="form-control text-control"
						ng-options="merchant.name for merchant in fundin.merchList track by merchant.username">
					</select>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-1">Merchant ID</label>
				<div class="col-sm-10 col-md-5">
					<label class="form-value">{{dest.username}}</label>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-1">Amount</label>
				<div class="col-sm-10 col-md-5">
					<input type="text" class="form-control" ng-model="amount"
						id="merchName" placeholder=" Amount $">
				</div>
			</div>

			<img src="../resources/images/signature.png" class="signature"
				width="100px">
		</form>
	</div>

	<span class="glyphicon glyphicon-arrow-right next-arrow pull-right"
		ng-click="fundin.createOrder()"></span>
</div>

<div ng-show="fundin.step == 2">
	<br> <br> <br> <br> <img
		src="../resources/images/tower.jpeg" class="center-block"
		width="250px"> <br> <br>
	<p class="text-center">Purchase order is sent to MNO, which will
		fund in the Merchant Account</p>
	<span class="glyphicon glyphicon-arrow-right next-arrow pull-right"
		ng-click="fundin.gotoStep3()"></span>
</div>

<div ng-show="fundin.step == 3">
	<div class="mobile center-block">
		<div class="text-center mob-bal"
			ng-show="fundin.showResponseErrorMsg==null">
			<h4>Balance: ${{amount}}</h4>
			<hr>

			<div class="message">
				There was a fund-in initiated on your account, your updated balance
				is now ${{amount}}.

				<p>Transaction ID : {{fundin.response.txnId}}</p>
				<p ng-if="fundin.response.feePaid">Fee : {{fundin.response.fee}}</p>
				<p ng-if="fundin.response.commPaid">Commission :
					{{fundin.response.commission}}</p>
			</div>
		</div>
		<div class="text-center mob-bal"
			ng-show="fundin.showResponseErrorMsg!=null">
			<h4>Response</h4>
			<hr>
			<div class="message">{{fundin.showResponseErrorMsg}}</div>
		</div>

	</div>
</div>