<!-- Top Nav  -->
<navbar-widget method-callback="stat.methodCallback($model)"></navbar-widget>
<branding-widget align="right"></branding-widget>
<div class="container">
	<div class="row" ng-init="stat.init()">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="alert response-widget"
					ng-if="stat.responseStatus!= null">{{stat.responseStatus}}</div>
				<div class="row" ng-if="stat.responseStatus== null">
					<div class="col-md-2" ng-repeat="user in stat.users">
						<h6>{{user.name}}&nbsp&nbsp/&nbsp&nbsp{{user.balance}}</h6>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div ui-view="module"></div>