<div class="action-btn">
	<span class="glyphicon glyphicon-plus btn-group"
		ng-click="changeState('CREATE')" ng-show="$ctrl.showbuttons.create"></span>
	<span class="glyphicon glyphicon-pencil btn-group"
		ng-click="changeState('UPDATE')" ng-show="$ctrl.showbuttons.update"></span>
	<span class="glyphicon glyphicon-trash btn-group"
		ng-click="changeState('DELETE')" ng-show="$ctrl.showbuttons.deleteb"></span>
	<span class="glyphicon glyphicon-eye-open btn-group"
		ng-click="changeState('DETAILS')" ng-show="$ctrl.showbuttons.details"></span>
	<span class="glyphicon glyphicon-menu-hamburger btn-group"
		ng-click="changeState('LIST')" ng-show="$ctrl.showbuttons.list"></span>
	<span class="glyphicon glyphicon-search btn-group"
		ng-click="changeState('SEARCH')" ng-show="$ctrl.showbuttons.search"></span>
</div>