<table class="brand-container" ng-if="$ctrl.align =='left'">
	<tr>
		<td><img src="../resources/images/logo.png" class="logo pointer"
			ng-click="home()"></td>
		<td class="heading-text">
			<h4>Grey Matters</h4>
			<h6>The Blackprint</h6>
		</td>
	</tr>
</table>

<table class="brand-right-aligned" ng-if="$ctrl.align =='right'">
	<tr>

		<td class="heading-right">
			<h4>Grey Matters</h4>
			<h6>The Blackprint</h6>
		</td>
		<td><img src="../resources/images/logo.png" class="logo pointer"
			ng-click="home()"></td>
	</tr>
</table>
