.form-container {
    margin: 50px auto;
    width: 30%;
  	padding-top:5%;
}

.login-message {
position: relative;
top: 40px;
}

@media screen and (max-width: 480px) {
   .form-container{
   width:100%;
   } 
}
legend {
    border: 0;
}

.form-control {
    width: 100%;
    border: 0;
    border-bottom: 1.5px solid rgb(204, 204, 204);
    border-radius: 0;
    box-shadow: none;
    transition: width 1s ease-in-out;
}

.form-control:focus {
    width: 100%;
    border: 0;
    border-bottom: 1.5px solid #5bc0de;
    box-shadow: none;
}

.form-control:focus > .inner-addon .glyphicon {
    color: #5bc0de;
}

/* Text-field icons */
.inner-addon { 
	position: relative; 
}

.inner-addon .glyphicon {
	position: absolute;
	padding: 10px;
	color: #aaa;
	pointer-events: none;
}

.left-addon .glyphicon  { left: 0px;}
.right-addon .glyphicon { right: 0px;}

.left-addon input, .left-addon textarea  { padding-left: 30px; }
.right-addon input, .right-addon textarea  { padding-right: 30px; }


.btn-align{
	margin-top:30px;
}

.glyphicon-spin {
  -webkit-animation: spin 1000ms infinite linear;
  animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
